@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-image: url('');
  font-family: 'Poppins', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

h1 {
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 65px;
}

.topnav {
  color: white;
  background-color: #000000;
  overflow: hidden;
  width: 972px;
  justify-content: center;
  align-items: center;
}

.topnav a {
  justify-content: center;
  align-items: center;
  left: -50%;
  color: white;
  margin-left: 3px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  display: inline-block;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}